body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 8px;
}

#exercice-title {
  align-self: center;
}

#exercice-todo {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.4rem;
  margin-top: 10px;
  position: relative;
  text-align: center;
}

#exercice-todo-text {
  margin: 0;
  line-height: 40px;
  font-weight: bold;
}

#exercice-todo-link {
  display: flex;
  flex-direction: column;
}

#exercice-level-information {
  position: absolute;
  top: -14px;
  left: 1%;
  background: white;
  margin: 0;
}

#exercice-level-target {
  position: absolute;
  top: -14px;
  right: 1%;
  background: white;
  margin: 0;
}

#exercice-modal-ended {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#exercice-modal-ended > div {
  min-width: 80%;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding: 20px;
  text-align: center;
}

#exercice-block {
  border: 1px solid black;
  font-size: 1.4rem;
  margin-top: 60px;
  min-height: 150px;
  width: 400px;
  bottom: 20%;
}
